.square {
    display: inline-block;
    box-sizing: border-box;
    border-width: 0.05vw;
    border-style: solid;
    border-color: lightgray;
}

.grid {
    border-style: solid;
    border-width: 2px;
    width: 48vw;
    height: 48vw;
    line-height: 0;
}

#btnReset {
    margin-bottom: 5px;
}

